/FlowerManagementSystem/nbproject/private/
/FlowerManagementSystem/build/
/FlowerManagementSystem/dist/
/Demo4/nbproject/private/
/Demo4/build/
/Demo4/dist/
/DemoMVC2/nbproject/private/
/DemoMVC2/dist/
/DemoMVC2/build/
/CarManagement/nbproject/private/
/CarManagement/build/
/CarManagement/dist/
/Demo5/nbproject/private/
/Demo5/dist/
/Demo5/build/
/TestTagAndAutoComplete/nbproject/private/
/TestTagAndAutoComplete/build/
/TestTagAndAutoComplete/dist/
/Demo6/nbproject/private/
/Demo6/dist/
/Demo6/build/
/Demo8/nbproject/private/
/Demo8/dist/
/Demo8/build/
/Baicuoi/nbproject/private/
/Baicuoi/dist/
/Baicuoi/build/
/test/nbproject/private/
/test/build/
/test/dist/
/testtt/nbproject/private/
/testtt/build/
/testtt/dist/
/testdb/nbproject/private/
/testdb/build/
/testdb/dist/